* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

.overlay {
  min-height: 100vh;
  background-color: rgba(30, 0, 3, 0.3); /* opacity here */
  display: flex;
  padding-bottom: 25vh
} 

main {
  background-color: rgba(227, 193, 173, 0.85);
  position: relative;
  top: 20%;
  border: 2px solid;
  border-radius: 25px;
  min-width: 540px;
  max-width: 40%;
  margin: auto;
  padding: 2em;
}

h1 {
  margin-bottom: 25px;
}

#search {
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 70%;
  height: 45px;
}

#submit {
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 18px;
  width: 5em;
  cursor: pointer;
}

#weather-wrapper {
  display: flex;
}

#weather-search {
  display: flex;
}

#weather-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
}

#weather-search {
  display: flex;
  width: 50%;
}

#weather-data {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 1.5em;
  margin-top: 20px;

  text-align: center;
  align-items: center;
  gap: 12px;
}

#weather-data > img {
  border-radius: 50%;
  background-color: lightskyblue;
}